<%- include("../partials/header") %>
<link rel="stylesheet" href='/css/login.css'>
<script src='/js/validations/validator.min.js'></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://apis.google.com/js/api:client.js"></script>
<meta name="google-signin-client_id" content="412000884387-d5dmn4o4s5unfjma2jc3fb3b7u80tru1.apps.googleusercontent.com">
<title>BW Blairwalf | Registro de usuario</title>
</head>
<body>

<%- include("../partials/encabezado") %>

    <div class="container">
        <div class="row register-form">
            <div class="col-sm-6">
                <% if(typeof messageError !== 'undefined'){ %>
                    <div class="messageError">
                        <span class="closeButton">X</span>
                        <p><%= messageError %></p>
                    </div>
                    <% } %>
                <h3>Registrarse</h3>
                <p id="change-form">¿Tenes usuario en Blairwalf? <a href="#">Iniciá sesión acá</a></p>
                <form method="POST" action="/registrarse?_method=PUT" id="formulario">
                    <div class="form-group">
                        <input type="text" class="form-control <%= locals.errors && errors.name ? 'invalid' : "" %>" name="name" placeholder="Ingrese su nombre" data-name="Nombre" value=<%= locals.old && old.name ? old.name : "" %>>
                        <p class="form-error"><%= locals.errors && errors.name ? errors.name.msg : "" %></p>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control <%= locals.errors && errors.lastName ? 'invalid' : "" %>" name="lastName" placeholder="Ingrese su apellido" data-name="Apellido" value=<%= locals.old && old.lastName ? old.lastName : "" %>>
                        <p class="form-error"><%= locals.errors && errors.lastname ? errors.lastName.msg : "" %></p>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control <%= locals.errors && errors.email ? 'invalid' : "" %>" name="email" placeholder="Ingrese su email" data-name="Email" value=<%= locals.old && old.email ? old.email : "" %>>
                        <p class="form-error"><%= locals.errors && errors.email ? errors.email.msg : "" %></p>
                    </div>
                    <div class="form-group">
                        <input type="password" id="pass" class="form-control <%= locals.errors && errors.password ? 'invalid' : "" %>" name="password" placeholder="Contraseña" data-name="Contraseña">
                        <p class="form-error"><%= locals.errors && errors.password ? errors.password.msg : "" %></p>
                    </div>
                    <div class="form-group">
                        <input type="password" id="vpass" class="form-control <%= locals.errors && errors.passwordRpt ? 'invalid' : "" %>" name="passwordRpt" placeholder="Repetir Contraseña" data-name="Repetir Contraseña">
                        <p class="form-error"><%= locals.errors && errors.passwordRpt ? errors.passwordRpt.msg : "" %></p>
                    </div>
                    
                    <button class="btn send-button" type="submit">Registrarse</button>
                    <p class="empty-form form-error"></p>
                </form>
                <hr>
                <a href="" class="btn send-button fb-button">Iniciar Sesión con Facebook</a>
                <div class="btn send-button g-button" id="customBtn">Iniciar Sesión con Google</div>
            </div>
        </div>
    </div>

    <%- include("../partials/footer") %>
    <script src="/js/login-api/google-login.js"></script>
    <script src="/js/validations/registerValidate.js"></script>
    <script>startApp();</script>
</body>
</html>